{% extends 'tadoku_calendar/base.html' %}

{% block content %}
<h2>Help</h2><br>
<label>How to use 'tadoku'</label>
<p>This is a web app for students!</p>
<p>When you use this service, please login from url.</p>
<p>You read extensive reading, and record in this web app. 
    How to record is only push button 'add' ,and fill out the form(date, title, series, and so on).
keep reading and recording every day. Continuity is the father of success!</p>
<p><h5>~Description of each function~</h5></p>
<p>calendar: The number of words in the book is displayed on the date you read it. 
    You can edit and delete registered book on this page. 
    Click the number of words to see the details of the registered book.</p>
<p>statistics: You can see and Tweet your performance in statistics. 
    Be able to read books with many words gradually!
</p>
<p>profile: You can see your profile information. 
    Please go to this page to unsubscribe(= delete user).
    But don't do it!
</p>
<p>help: This page.</p>

<label>Extensive Reading method</label>
<p>↓Links to websites that explain about Extensive Reading method.</p>
<li><a href='https://tadoku.org/english/faqs/'>多読Q&A</a></li>
<li><a href='https://tadoku.org/english/three-golden-rules/'>多読三原則とは？</a></li>
<li><a href='https://www.seg.co.jp/sss/learning/'>多読で英語に親しみませんか？</a></li>
<br>

<label>Connect with developer</label>
<p>Please tell me if there're typo and systemerror.
    Please give me suggestions and improvements.
</p>
<p>twitter: <a href='https://twitter.com/nono_n1I'>@nono_n1I</a></p>


{% endblock %}