@media screen and (min-width:1024px) {
    /*pc用のcssを記述*/

a.nav-link{
    color: white;
    background-color: orange;
    font-size: 130%;
    width: 100%;

    position: fixed;
    top: 0;
    left: 0;
}


/* a.user_icon{
    float: right;
}
img.user-icon-set{
    float: right;
    width: 10%;
} */

a.back_next{
    color: rgb(106, 106, 255);
}
a.word{
    color: black;
    font-size: 130%;
}
a.edit{
    color: rgb(72, 75, 255);
    font-size: 80%;
}
a.delete{
    color: rgb(255, 116, 116);
    font-size: 80%;
}

table.table{
    color: rgb(94, 93, 93);
}

a.box_add{
    padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: gray;/*文字色*/
    background: rgb(255, 205, 111);
    border: solid 3px orange;/*線*/
    border-radius: 10px;/*角の丸み*/
}

p.total{
    font-size: 200%;
    text-align: right;
}

hr.line{
	border-top: 3px double orange;
}

div.toukei1{
    float: left;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
div.toukei2{
    float: left;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
div.toukei3{
    float: left;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
div.toukei4{
    float: left;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}
div.toukei5{
    float: left;
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

/* a.user{
    color: rgb(0, 0, 255);
    margin-top: 50%;
} */

div.user{
    color: rgb(0, 0, 255);
    margin-top: 100px;
}

ul.nav {
  list-style: none;
  overflow: hidden;
  float: right;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 70px;
}
 
ul.nav li {
  width: 25%;
  text-align: center;
  background-color: rgb(255, 193, 79);
  float: left;
}
 
ul.nav li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

label{
    display: block;
    margin: 0 0 4px 0;
    padding : 15px;
    line-height: 1;
    color :#fff;
    background : orange;
    cursor :pointer;
}

h3.help-label{
    background-color: orange;
}

#contentspage{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
}
/* div.addbuttom{
    margin-right: 10px;
} */

}




@media screen and (max-width:639px){
    /*スマホ用のcssを記述*/

    a.nav-link{
        color: white;
        background-color: orange;
        font-size: 130%;
        width: 100%;
        /* display: inline-block;
        _display: inline; */
        position: fixed;
        top: 0;
        left: 0;
    }

    
    a.back_next{
        color: rgb(106, 106, 255);
    }
    a.word{
        color: black;
        font-size: 130%;
    }
    a.edit{
        color: rgb(72, 75, 255);
        font-size: 80%;
    }
    a.delete{
        color: rgb(255, 116, 116);
        font-size: 80%;
    }
    
    table.table{
        color: rgb(94, 93, 93);
    }
    
    a.box_add{
        padding: 0.5em 1em;
        margin: 2em 0;
        font-weight: bold;
        color: gray;/*文字色*/
        background: rgb(255, 205, 111);
        border: solid 3px orange;/*線*/
        border-radius: 10px;/*角の丸み*/
    }
    
    p.total{
        font-size: 200%;
        text-align: right;
    }
    
    hr.line{
        border-top: 3px double orange;
    }
    
    div.toukei1{
        float: left;
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
    div.toukei2{
        float: left;
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
    div.toukei3{
        float: left;
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
    div.toukei4{
        float: left;
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
    div.toukei5{
        float: left;
        padding: 0.5em 1em;
        margin: 2em 0;
        color: #5d627b;
        background: white;
        border-top: solid 5px #5d627b;
        box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    }
    
    
    div.user{
        color: rgb(0, 0, 255);
        margin-top: 100px;
    }
    
    ul.nav {
      list-style: none;
      overflow: hidden;
      float: right;
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      margin-top: 70px;
    }
     
    ul.nav li {
      width: 25%;
      text-align: center;
      background-color: rgb(255, 193, 79);
      float: left;
    }
     
    ul.nav li a {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
    
    label{
        display: block;
        margin: 0 0 4px 0;
        padding : 15px;
        line-height: 1;
        color :#fff;
        background : orange;
        cursor :pointer;
    }
    
    h3.help-label{
        background-color: orange;
    }
    
    #contentspage{
        margin-top: 30px;
        margin-right: 10px; 
        margin-left: 10px;
        width: 100%;
    }   
    /* a.box_add{
        margin-right: 10px;
    } */

    }



@media only screen and (min-width:640px) and (max-width:1023px) {
        /*tablet用のcssを記述*/
        a.nav-link{
            color: white;
            background-color: orange;
            font-size: 130%;
            width: 100%;
            /* display: inline-block;
            _display: inline; */
            position: fixed;
            top: 0;
            left: 0;
        }
    
 

        a.back_next{
            color: rgb(106, 106, 255);
        }
        a.word{
            color: black;
            font-size: 130%;
        }
        a.edit{
            color: rgb(72, 75, 255);
            font-size: 80%;
        }
        a.delete{
            color: rgb(255, 116, 116);
            font-size: 80%;
        }
        
        table.table{
            color: rgb(94, 93, 93);
        }
        
        a.box_add{
            padding: 0.5em 1em;
            margin: 2em 0;
            font-weight: bold;
            color: gray;/*文字色*/
            background: rgb(255, 205, 111);
            border: solid 3px orange;/*線*/
            border-radius: 10px;/*角の丸み*/
        }
        
        p.total{
            font-size: 200%;
            text-align: right;
        }
        
        hr.line{
            border-top: 3px double orange;
        }
        
        div.toukei1{
            float: left;
            padding: 0.5em 1em;
            margin: 2em 0;
            color: #5d627b;
            background: white;
            border-top: solid 5px #5d627b;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        }
        div.toukei2{
            float: left;
            padding: 0.5em 1em;
            margin: 2em 0;
            color: #5d627b;
            background: white;
            border-top: solid 5px #5d627b;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        }
        div.toukei3{
            float: left;
            padding: 0.5em 1em;
            margin: 2em 0;
            color: #5d627b;
            background: white;
            border-top: solid 5px #5d627b;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        }
        div.toukei4{
            float: left;
            padding: 0.5em 1em;
            margin: 2em 0;
            color: #5d627b;
            background: white;
            border-top: solid 5px #5d627b;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        }
        div.toukei5{
            float: left;
            padding: 0.5em 1em;
            margin: 2em 0;
            color: #5d627b;
            background: white;
            border-top: solid 5px #5d627b;
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
        }
        
        
        div.user{
            color: rgb(0, 0, 255);
            margin-top: 100px;
        }
        
        ul.nav {
          list-style: none;
          overflow: hidden;
          float: right;
          width: 100%;
          position: fixed;
          top: 0;
          left: 0;
          margin-top: 70px;
        }
         
        ul.nav li {
          width: 25%;
          text-align: center;
          background-color: rgb(255, 193, 79);
          float: left;
        }
         
        ul.nav li a {
          text-decoration: none;
          color: white;
          font-weight: bold;
        }
        
        label{
            display: block;
            margin: 0 0 4px 0;
            padding : 15px;
            line-height: 1;
            color :#fff;
            background : orange;
            cursor :pointer;
        }
        
        h3.help-label{
            background-color: orange;
        }
        
        #contentspage{
            margin-top: 30px;
            margin-right: 10px; 
            margin-left: 10px;
        }   

        }